<img src="https://lh3.googleusercontent.com/proxy/YiQKyqQHQHvXcr_qwIhdeKcsJQpflj6W-J3DmIF9n3FwahhgSuMNfGtMlNLqpkparPAGWEFXZx6zf1ZEphGflKggW8Xkz6RWmRKXfvNd3Tw8oGJEauZR0UUhFjSdpmPDa9s0T6uiQlDhx9P1Zw"
    alt="Burger" class="center" id="burgerImage">

<h1>Eat-Da-Burger</h1>

<div class="container">
    <div class="row burgerInfo">
        <div class="toEat col-6">
            <h2>Burgers to Eat!</h2>
            <p>
                {{#each burgers}}
                {{#unless this.devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </p>
        </div>

        <div class="devoured col-6">
            <h2>Burgers that have been devoured!</h2>

            <p>
                {{#each burgers}}
                {{#if this.devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
            </p>
        </div>
    </div>

    <div class="row inputInfo">
        <div class"col">
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <div class="form-group">
                    <input type="radio" name="devoured" value="0"> Make New Burger
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>