<img src="https://lh3.googleusercontent.com/proxy/c42ujEgKjBBboGfZa25Szw9Qq0cQfOEXG3Conx6SD7O7AY5p_71fc2n3Pbu_GANEONitdGoNF11dfWyfj1j_nj85wU3n4eroB3jNZrIb1m-pqNAknKCKYm3Se7CkKhdvsRwJ38EQVvQmHcOPvA"
    alt="Burger" class="center">

<h1>Eat-Da-Burger</h1>

<div class="container">
    <div class="row burgerInfo">
        <div class="toEat col-6">
            <h2>Burgers to Eat!</h2>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="devoured col-6">
            <h2>Burgers that have been devoured!</h2>

            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row inputInfo">
        <div class"col">
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <div class="form-group">
                    <input type="radio" name="devoured" value="1" checked> Already Devoured!<br>
                    <input type="radio" name="devoured" value="0"> Make New Burger
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>