<li>
    {{burger_name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}EAT TIME!{{/if}}
    </button>

</li>

{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}